@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <h5>El Gallo de Oro - Clínica Veterinaria</h5><br />
   <strong><p>Erick Francisco Gsatelum P.</p></strong>
    <p>Médico Veterinario Zootecnista</p>
    <p>Ced. Prof. 3900993</p>

    Blvd. Samuel Ocaña García y<br />
    Niños Héroes, casi en frente a Super Veros, 83552 Puerto Peñasco, Son. México.<br />
    <abbr title="Phone">P:</abbr>
    (638)112-3343<br />
    <strong>Correo:</strong>   <a href="mailto:gallodeoro97@live.com.mx">gallodeoro97@live.com.mx</a>
</address>

<address>
    <h2>¿Qué es lo que hacemos?</h2>
    <ul>
        <li>Cirugías</li>
        <li>Vacunas</li>
        <li>Consultas</li>
        <li>RX</li>
        <li>Desparasitaciones</li>
        <li>Baños Medicos</li>
        <li>Estética canina</li>
    </ul>

    <h4>También tenemos</h4>
    <p>Alimenos y Accesorios para Gallos y Perros</p>
</address>


<address>
    <strong>Support:</strong>   <a href="mailto:aurelio00987@gmail.com">Aurelio00987@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:aurelio00987@gmail.com">Aurelio00987@gmail.com</a>
</address>