@{
    ViewBag.Title = "El Gallo de Oro";
}

<div class="panel-body">
    <div class="table-responsive element googlemap-element" id="mapa">

        <div class="element googlemap-element" style="margin:auto; text-align:center;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1703.8188160632296!2d-113.5367853679515!3d31.34137919729206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m3!3m2!1d31.3417915!2d-113.5360075!4m0!5e0!3m2!1ses-419!2smx!4v1481262312227"
                    style="margin:auto; border:10px; border-style:double; " width="800" height="300" allowfullscreen></iframe>
        </div>
    </div>
</div>

