<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://veterinariagallo-001-site3.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://veterinariagallo-001-site3.itempurl.com:8172/msdeploy.axd?site=veterinariagallo-001-site3</MSDeployServiceURL>
    <DeployIisAppPath>veterinariagallo-001-site3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\veterinariagallo-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sql6002.smarterasp.net;Initial Catalog=DB_A263F2_Testing;Persist Security Info=True;User ID=DB_A263F2_Testing_admin;Password=Aurelio00" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL6002.SmarterASP.NET;Initial Catalog=DB_A263F2_Testing;User ID=DB_A263F2_Testing_admin;Password=Aurelio00" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL6002.SmarterASP.NET;&#xD;&#xA;         Initial Catalog=DB_A263F2_Testing;&#xD;&#xA;         User Id=DB_A263F2_Testing_admin;        &#xD;&#xA;         Password=Aurelio00;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql6002.smarterasp.net;Initial Catalog=DB_A263F2_Testing;Persist Security Info=True;User ID=DB_A263F2_Testing_admin;Password=Aurelio00</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>